<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about' | relative_url }}">About</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
    <a href="{{ '/contact' | relative_url }}">Contact</a>
    <a href="{{ '/certifications' | relative_url }}">Certification</a>
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>
